
.carousel-image{
width: 400px;
  height: 500px;
  opacity: 0.7;
   
}
.carousel .overlay{
    width: 80%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10%;
    font-size: 18px;
    font-weight: 700;
    padding: 0.4rem 1.5rem;
    text-align: left;
    background:transparent;
    color: rgb(36, 117, 210);
}
.carousel{
    position: relative;
}
.carousel .titlee{
      font-size: 85px;
    margin: 0.8erm 0 1rem 0;
}
