/* Body Styles (Optional) */


/* Responsive Login Form Styles */
.containe {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 50px;
  background: #fff;
  padding-bottom: 30px;
  /* Fluid width for responsiveness */
  width: 90%;
  height: 450px;
  max-width: 740px; /* Optional for a maximum width on larger screens */
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 9px;
  margin-top: 13px;
  width: 100%;
}

.text {
  color: rgb(114, 175, 244);
  font-size: 28px;
  font-weight: 700;
}

.underline {
  width: 200px;
  height: 4px;
  background: rgb(114, 175, 244);
  border-radius: 9px;
}

.inputs {
  margin-top: 45px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-family: monospace;
}

.input {
  display: flex;
  align-items: center;
  margin: auto;
  /* Flexible width for input fields */
  width: calc(100% - 60px);
  height: 43px;
  background: #eaeaea;
  font-family: monospace;
  border-radius: 10px;
}

.input i {
  margin: 0px 30px;
}

.input input {
  height: 100%;
  width: 100%; /* Ensures full width within the input container */
  background: transparent;
  border: none;
  outline: none;
  color: #080808;
  font-size: 15px;
  font-family: monospace;
}

.imf {
  /* Fluid width for responsiveness, maintain aspect ratio */
  width: 100%;
  height: auto;
}

.submit-container {
  display: flex;
  justify-content: center; /* Center buttons horizontally on smaller screens */
  flex-wrap: wrap; /* Wrap buttons on smaller screens */
  gap: 0px; /* Adjust spacing between buttons */
}

.submit {
  display: flex;
  justify-content: center;
  align-items: center;
  /* Adjust width based on content or desired design */
  width: 260px;
 
  height: 33px;
  color: rgb(114, 175, 244);
  background: #fff;
  border-radius: 50px;
  border: 1px solid rgb(114, 175, 244);
  font-size: 17px;
  font-weight: 700;
  cursor: pointer;
}

.submit:hover {
  color: #fff;
  background: rgb(114, 175, 244);
}
